<link rel="stylesheet" href="../components/myobjectives/competencies/competencies.min.css"/>
<script type="text/javascript" src="../components/myobjectives/competencies/competencies.min.js"></script>
  
	<!-- Competencies Section  -->
    <div id="competencies-tab" class="tab-pane fade in active">
        <div id="competency-list"></div>
          <button type="button" class="btn btn-link pull-right" id="view-competency">View Competency Framework</button>    
    </div><!--End of competencies-->