<link rel="stylesheet" href="../css/feedback.css">
<script type="text/javascript" src="../js/feedback.js"></script>

<!--Containter for full page -->
<div class="container">
    
    <!-- Accordion sort half - added a test one, setting out layout -->
    <div class="container">
        <h2>My Feedback</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="panel-group" id="accordion-Date">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Date</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                       <div class="dropdown">
                                            <button class="btn btn-default center-block dropdown-toggle" type="button" data-toggle="dropdown">
                                                Month<span class="caret"></span></button>
                                                <ul class="dropdown-menu scrollable-menu">
                                                   <li><a href="#">January</a></li>
                                                   <li><a href="#">February</a></li>
                                                   <li><a href="#">March</a></li>
                                                   <li><a href="#">April</a></li>
                                                   <li><a href="#">May</a></li>
                                                   <li><a href="#">June</a></li>
                                                   <li><a href="#">July</a></li>
                                                   <li><a href="#">August</a></li>
                                                   <li><a href="#">September</a></li>
                                                   <li><a href="#">October</a></li>
                                                   <li><a href="#">November</a></li>
                                                   <li><a href="#">December</a></li>                              
                                                </ul>
                                        </div> 
                                    </div><!--end of div class col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="dropdown">
                                            <button class="btn btn-default center-block dropdown-toggle" type="button" data-toggle="dropdown">
                                                Year<span class="caret"></span></button>
                                                <ul class="dropdown-menu scrollable-menu">
                                                   <li><a href="#">2016</a></li>
                                                   <li><a href="#">2017</a></li>
                                                   <li><a href="#">2018</a></li>
                                                   <li><a href="#">2019</a></li>
                                                   <li><a href="#">2020</a></li>
                                                </ul>
                                        </div>
                                    </div><!--end of div class col-md-6 -->
                                </div><!--end of row -->
                            </div><!--end of panel body -->
                        </div><!--end of collapse panel -->
                    </div><!-- end of panel-default-->
                </div><!-- end of accordion Date-->
                <div class="panel-group" id="accordion-Linked-Obj">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Linked Objectives</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div><!--end of div class col-md-6 -->
                                </div><!--end of row -->
                            </div><!--end of panel body -->
                        </div><!--end of collapse panel -->
                    </div><!-- end of panel-default-->
                </div><!-- end of accordion Linked Objectives -->
                <div class="panel-group" id="accordion-Linked-Competencies">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Linked Competencies</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div><!--end of div class col-md-6 -->
                                </div><!--end of row -->
                            </div><!--end of panel body -->
                        </div><!--end of collapse panel -->
                    </div><!-- end of panel-default-->
                </div><!-- end of accordion Linked Competencies -->
                <div class="panel-group" id="accordion-Reviewer">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Reviewer</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div><!--end of div class col-md-6 -->
                                </div><!--end of row -->
                            </div><!--end of panel body -->
                        </div><!--end of collapse panel -->
                    </div><!-- end of panel-default-->
                </div><!-- end of accordion Reviewer -->
            </div><!--end of col-md-3 -->

        
        
        <!-- List of Feedback -->
        <div class="col-md-3">
            <div class="feeList"></div>
        </div><!--end of col-md-3 -->
                
        <!-- Section that will show the feedback -->
         <div class="col-md-6">
             <div class="feeDescription"></div>
        </div> 
        
    </div><!--end of initial row -->
        
   
    
    </div>
</div>
