<link rel="stylesheet" href="../css/objectives.css">
<script type="text/javascript" src="../js/objectives.js"></script>

<!--Containter for full page -->
<div class="container">


	<!-- My objectives half  -->
    <div class='col-sm-12 col-md-6'>
        <!--Page Header -->
        <div class="row">
            <div class="pull-left">
                <h2>My Objectives</h2>
            </div>
            <div class="pull-right">
                <!--Enter code for ADD objective button in here --> 
            </div>
            <div class="clearfix"></div>
        </div>
        <br>
    <!-- -->
    <ul class="nav nav-pills">
            <li class="active"><a href="#">All<span class="badge">9</span></a></li>
            <li><a href="#">Awaiting<span class="badge">3</span></a></li>
            <li><a href="#">InFlight<span class="badge">4</span></a></li>
            <li><a href="#">Done<span class="badge">2</span></a></li>
            <li class="dropdown"><a href="#"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By 
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Duration</a></li>
                        <li><a href="#">Progress</a></li>
                    </ul>
            </li>
        </ul>
        
        
            
        
        
        
        
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default" id="panel1">
                    <div class="panel-heading">
                        <h5 class="panel-title pull-left" id="objective">Objective 1</h5>
                            <h6 class="panel-title pull-right" id="date">Week 1</h6>
                                <div class="clearfix"></div>
                                <br><br>
                        
                        
                        
                        
                    
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="panel-title" id="title">Improve communication skills when based in teams</h5>
                            </div>
                                <div class="col-sm-4">
                                    <div class="progress">
                                        <div class="one"></div>
                                        <div class="two"></div>
                                        <div class="three"></div>
                                        <div class="progress-bar progress-striped" width="50%"></div>     
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <a data-toggle="collapse" data-target="#collapseOne" href="#" class="collapsed"></a>    
                                </div>   
                         </div>
                    </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body"><h5>Description</h5>
                                <textarea class="form-control" rows="4" disabled id="description">When having to talk to team members, management and the client within a project, I have a tendency to shy away as I'm never sure what I can say or fear dissaproval. There are communication modules and training that I will commit to.</textarea>
                                    <div class="row">
                                        <div class="col-md-12">
                                              <div class="btn-group btn-group-justified">
                                                    <a href="#" class="btn btn-default">View Feedback</a>
                                                    <a href="#" class="btn btn-default">Edit</a>  
                                              </div>
                                        </div>
                                    </div>    
                            </div>
                        </div>
            </div>
        </div>
    </div>




	<!-- Competency/Notes half -->
	<div class='col-md-6'>

	</div>


</div>