#obj-link,
#feed-link,
#dev-link,
#notes-link,
#ratings-link {
	color: #337ab7;
	height: 100%;
}

#reportee-list, #info-holder {
  height: calc(100vh - 193px);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 455px
}


.nav-justified > li {
	height: 100%;
}

.rating-panel-body{
	min-height: 150px;
	height: calc(100vh - 641px);
}
