<link rel="stylesheet" href="../components/myteam/myteam.css"/>
<script type="text/javascript" src="../components/myteam/myteam.js"></script>

<!--Containter for full page -->
<div class="container">

<!--Page Header -->
<div class="row">
	<div class="col-md-12" >
		<div class="col-md-3">
			<h2 >My Team</h2>
		</div>
		<div class="col-md-6">
		<br/>
			<ul class="nav nav-tabs nav-justified" id="navTab">
				<li class="active"><a href="#reportee-obj-list" data-toggle="tab"> Objectives </a></li>
				<li><a href="#reportee-comp-list" data-toggle="tab"> Competencies </a></li>
				<li><a href="#reportee-feed-list" data-toggle="tab"> Feedback </a></li>
				<li><a href="#reportee-dev-needs-list" data-toggle="tab"> Needs </a></li>
				<li><a href="#reportee-notes-list" data-toggle="tab"> Notes </a></li>
			</ul>
		</div>
		<div class="col-md-3">
		<br/>
			<Center><h4>News Feed</h4></Center>
		</div>
	</div>
</div>

<!--End of Page Header -->

<br/>

	<div class="col-md-3" id='reportee-list'></div>
	
	<div class="col-md-6">
		<div class="tab-content">
			<div id="reportee-obj-list" class="tab-pane fade in active"></div>
			<div id="reportee-comp-list" class="tab-pane fade in "></div>
			<div id="reportee-feed-list" class="tab-pane fade in "></div>
			<div id="reportee-dev-needs-list" class="tab-pane fade in "></div>
			<div id="reportee-notes-list" class="tab-pane fade in "></div>
			
    	</div>
   
	</div>


</div><!--end of container -->
