.nav, .nav-tabs {
	border-bottom: 0px;
}

.navbar {
	background-color: white;
}

#primary {
	background-color: #da202c;
}

.navbar-default .navbar-nav>li>a {
	cursor:pointer;
}


.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected:hover {
	border-bottom: 0px;
}