<link rel="stylesheet" href="../components/navbar/navbar.css"/>
<script type="text/javascript" src="../components/navbar/navbar.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">

	<div id="primary" class="container-fluid">
		<div class="container">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">My Career</a></li>
			</ul>
		</div>
	</div>

	<div id="secondary" class="container">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-bar-item" id="myobjectives"><a href="myobjectives"> My Objectives </a></li>
				<li class="nav-bar-item" id="myfeedback"><a href="myfeedback"> My Feedback </a></li>
				<li class="nav-bar-item" id="mydevelopmentneeds"><a href="mydevelopmentneeds"> My Development Needs </a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>

</nav>
<br>
<br>
<br>
<br>
<br>