.navbar {
	background-color: white;
}

.nav, .nav-tabs {
	border-bottom: 0px;
}

.nav >li > a{
	text-decoration: none;
} 

.nav-height >li >a  {
	color : white;
	width: 110px;
	text-align : center;
}

.inactive >a:hover, .inactive >a:focus {
	background : linear-gradient(to right, #bf0000 , #da202c) !important;
	border-left-color :#bf0000 !important;
	border-right-color :#da202c !important;
	border-top-color :#da202c !important;
	border-bottom-color :#da202c !important;
}

#primary {
	background-color: #da202c;
}

.navbar-default .navbar-nav>li>a {
	cursor:pointer;
}

.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected:hover {
	border-bottom: 0px;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

.label-info {
    background-color: #5D839A;
}

.nav-height {
	height: 48px;
}

.profile-name-display{
	transform: translateY(10%);
	padding-right: 10px;
}