.navbar {
	background-color: white;
}

.nav, .nav-tabs {
	border-bottom: 0px;
}

.nav >li > a{
	text-decoration: none;
} 

.nav-height >li >a  {
	color : white;
	width: 110px;
	text-align : center;
}

.inactive >a:focus {
	background : #da202c !important;
	border-color :#da202c !important;
}

.inactive >a:hover {
	background : linear-gradient(to right, #bf0000 , #da202c) !important;
	border-left-color :#bf0000 !important;
	border-right-color :#da202c !important;
	border-top-color :#da202c !important;
	border-bottom-color :#da202c !important;
}

#primary {
	background-color: #da202c;
}

.navbar-default .navbar-nav>li>a {
	cursor:pointer;
}

.navbar-default .navbar-nav>li>a:hover {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected {
	border-bottom: 1px solid #da202c;
}

.navbar-default .navbar-nav .selected:hover {
	border-bottom: 0px;
}

.bootstrap-tagsinput {
  width: 100% !important;
}

.label-info {
    background-color: #5D839A;
}

.nav-height {
	height: 48px;
}

.profile-name-display{
	transform: translateY(10%);
	padding-right: 10px;
}

#pdf-modal-dialog{
	width : 800px;
}

#pdf-modal-body{
	max-height : 500px;
    overflow: auto ;
    word-wrap: break-word;
}

table.dataTable tbody td {
  vertical-align: top;
}

thead th{
  white-space: nowrap;
}

.HRtable {
    table-layout:fixed;
    width:100%;
}

.HRtable thead th{
  white-space: initial;
}

.HRtable tbody td{
  word-wrap: break-word;
}

.remove-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}