<script>
	loadStyle("components/employeesearch/employeesearch");
	loadScript("actions/hractions");
	$.when(
		loadScript("actions/employeesearchactions")	
	).done(function(){
		loadScript("components/employeesearch/employeesearch");
	});
	
</script>

<div class="container">
    
    <!--Page Header -->
    <div class="row">
        <div class="col-md-12">
        	<div class="col-md-3">
            	<h2>Employee Search</h2>
           	</div>
	        <div class="col-md-2 col-md-offset-7 vertical-centre" style="padding-right: 0px;">
				<a type="button" class="btn btn-default pull-right" href="hrdashboard" style="text-decoration:none; color: black;">Back to HR Dashboard</a>
			</div>
		</div>
    </div>
    <!--End of Page header-->
    
	<div class="row" style="margin-top: 10px; padding-left: 15px; padding-right: 15px;">
	
			<div class="col-md-12 text-center" id="loading-employee-name-ids">
				<h5>Loading...</h5>
			</div>
			<div id="search-options" hidden>
				<div class="col-md-3">
					<h4 class="employee-name"></h4>
				</div>
	       		<div class="col-md-4">
		     		<input id="searchInput" placeholder="Please select an employee..."type="text" data-provide="typeahead" class="form-control">
	     		</div>
	     		<div class="col-md-2">
		     		<button type="button" class="btn btn-primary btn-block pull-right" id="submit-employee-search" >Search</button>
	     		</div>
     		</div>
    </div>
	
	<div class="row" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
		<div class="col-md-12" style="padding-right: 0;">
			<div id="reportee-header">
				<ul class="nav nav-tabs nav-justified" id="navTab">
					<li class="active "><a id="obj-link" href="#employee-objectives-containter" data-toggle="tab"> Objectives </a></li>
					<li><a id="feed-link" href="#employee-feedback-containter" data-toggle="tab"> Feedback </a></li>
					<li><a id="dev-link" href="#employee-development-needs-containter" data-toggle="tab"> Development Needs </a></li>
					<li><a id="notes-link" href="#employee-notes-containter" data-toggle="tab"> Notes </a></li>
					<li><a id="ratings-link" href="#employee-ratings-containter" data-toggle="tab"> Ratings </a></li>
				</ul>
			</div>
		</div>
		<div id="placeholder-container" class="col-md-12 text-center">
			<h5 class="text-center">Please select an employee</h5>
		</div>
	 	<div id="employee-data-container" class="col-md-12 tab-content" style="padding-right: 0; padding-top: 20px; width:100%" hidden>
	   		<div id="employee-objectives-containter" class="tab-pane fade in active">
				<table id="objectives-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Title</th>
			                <th>Description</th>
			                <th>Progress</th>
			                <th>Due Date</th>
			                <th>Created On</th>
			                <th>Proposed By</th>
			                <th>Archived</th>
			            </tr>
			        </thead>
        		</table>
			</div>
	   		<div id="employee-feedback-containter" class="tab-pane fade">
	   			<table id="feedback-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Provider Email</th>
			                <th>Feedback Description</th>
			                <th>Date</th>
			            </tr>
			        </thead>
        		</table>
        	</div>
	   		<div id="employee-development-needs-containter" class="tab-pane fade">
	   			<table id="development-needs-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Title</th>
			                <th>Description</th>
			                <th>Progress</th>
			                <th>Due Date</th>
			                <th>Created On</th>
			                <th>Proposed By</th>
			                <th>Category</th>
			                <th>Archived</th>
			            </tr>
			        </thead>
        		</table>
       		</div>
	   		<div id="employee-notes-containter" class="tab-pane fade">
	   			<table id="notes-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Provider Email</th>
			                <th>Note Description</th>
			                <th>Date</th>
			            </tr>
			        </thead>
        		</table>
       		</div>
	   		<div id="employee-ratings-containter" class="tab-pane fade">
	   			<table id="ratings-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Year</th>
			                <th>Self Evaluation</th>
			                <th>Manager Evaluation</th>
			                <th>Rating</th>
			            </tr>
			        </thead>
        		</table>
        	</div>
        </div>
	</div>

</div><!--End of Container -->