<link rel="stylesheet" href="../components/mydevelopmentneeds/mydevelopmentneeds.css"/>
<script type="text/javascript" src="../components/mydevelopmentneeds/mydevelopmentneeds.js"></script>

<div class="container">

	<!--Page Header -->
	<div class="row">
		<div class="col-md-6" >
			<div class="col-md-8">
				<h2>My Development Needs</h2>
			</div>
			<div class="col-md-4 vertical-centre">
				<button type="button" class="btn btn-link pull-right" id="add-dev-need">
					Add development need
				</button>
			</div>
		</div>
		<div class="col-md-6 vertical-centre ">
				<button type="button" class="btn btn-link pull-right" id="notes-open">
						<u>My Notes</u>
				</button>
		</div>
	</div>
	<!--End of Page Header -->
	<br>
	<!-- Nav Pills header -->
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-target="#proposed-dev-needs, #started-dev-needs, #completed-dev-needs" data-toggle="tab"> All </a></li>
				<li><a href="#proposed-dev-needs" data-toggle="tab"> Proposed </a></li>
				<li><a href="#started-dev-needs" data-toggle="tab"> Started </a></li>
				<li><a href="#completed-dev-needs" data-toggle="tab"> Completed </a></li>
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Duration</a></li>
						<li><a href="#">Progress</a></li>
					</ul>
				</li>-->
			</ul>
		</div>
	</div>
	<!-- End of Nav Pills header -->
	<br>
		
	<!-- My Development Needs half  -->
	<div class='row'>
		<div class='col-sm-12 col-md-6'>
			<div class="tab-content">
			
				<div id="dev-needs-list"></div><!-- End of dev-needs-list container -->
		        
		        <div id="completed-dev-needs" class="tab-pane fade in active"></div>
			    <div id="started-dev-needs" class="tab-pane fade in active"></div>
			    <div id="proposed-dev-needs" class="tab-pane fade in active"></div>
		
			</div>
		</div><!--End of My Development Needs half -->
	
	</div>
</div>

<!-- Add Development Needs Modal -->
<div id=development-need-modal class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><span id="dev-need-modal-title-type">Add</span> development need</h4>
			</div>
			<div class="modal-body">
				<form>
					<input type="hidden" id="dev-need-modal-type" value="add">
					<input type="hidden" id="development-need-id" value="0">
					<input type="hidden" id="development-need-status" value="0">
					<div class="form-group">
						<label for="development-need-title">Title*:</label>
						<input type="text" class="development-need-modal-validate form-control" id="development-need-title" maxlength="150" spellcheck="true"/>
					</div>

					<div class="form-group">
						<label for="development-need-text">Description*:</label>
						<textarea class="development-need-modal-validate form-control" id="development-need-text" maxlength="1000" rows="8" spellcheck="true"></textarea>
					</div>
					
					<div class="form-group">
						<label for="development-need-category">Category*:</label>
						<div class="row">
							<div class='col-md-12' id="category-radio">
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="on-job-radio" value="0" checked=""> On Job Training
								</label>
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="classroom-radio" value="1"> Classroom Training
								</label>
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="cbt-radio" value="2"> Computer-Based Training (CBT)
								</label>
								<br/>
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="online-radio" value="3"> Online or E-Learning
								</label>
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="self-study-radio" value="4"> Self-Study
								</label>
								<label class="radio-inline">
								  <input type="radio" name="category-options" id="other-radio" value="5"> Other
								</label>
							</div>
						</div>
					</div>
				
					<div class="form-group">
						<label for="development-need-date">Expected by*:</label>

						<div class="row">
							<div class='col-sm-6'>
								<div class="form-group">
									<div class='input-group date' id='development-need-date-picker'>
										<input type='text' class="development-need-modal-validate form-control" id='development-need-date' readonly="readonly" />
										<span class="input-group-addon"> 
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" id="submit-dev-need"
					disabled>Submit</button>
			</div>
		</div>

	</div>
</div>