<link rel="stylesheet" href="../components/notes/notes.css"/>
<script type="text/javascript" src="../components/notes/notes.js"></script>



<div class="row header">
  <br><br><br><br><br>

	<div class="row" >
			<div class="col-md-2">
				<button type="button" class="btn-link pull-left" id="notes-close"><h6>Close</h6></button>
			</div>
			<div class="col-md-8 text-center">
				<h1>Notes</h1>
			</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-center">
			<select class="selectpicker select-note-type" id="note-type-picker">
			  <option class="text-center" >General</option>
			  <option class="text-center" >Objectives</option>
			  <option class="text-center" >Competencies</option>
			  <option class="text-center" >Feedback</option>
			  <option class="text-center" >Development-Needs</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-12" >
		
			<label for="general-note-input">Add note*:</label>
			<textarea class="note-validate form-control" id="note-text" maxlength="1000" spellcheck="true"></textarea>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-12" >
			<label for="general-note-input">Link to:</label>
			<div class="row">	
				<div class="form-group col-md-10">		
					<div class="notes-div Objectives" style="display: none;">
						<select class="selectpicker select-note-link" id="objectives-links"></select>
					</div>
					<div class="notes-div Feedback" style="display: none;">
							<select class="selectpicker select-note-link" id="feedback-links"></select>
					</div>
					<div class="notes-div Development-Needs" style="display: none;">
							<select class="selectpicker select-note-link" id="development-needs-links"></select>
					</div>
					<div class="notes-div Competencies" style="display: none;">
						<select class="selectpicker select-note-link" id="competencies-links"></select>
					</div>					
				</div>
				<div class="form-group col-md-2">
					<button type="button" class="btn btn-default pull-right" id="submit-note" disabled>Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row content">
	<div class="row">
		<div class="form-group col-md-12 scrollable-menu">
			<ul class="list-group notes-div General" id="general-notes-list"></ul>
			<ul class="list-group notes-div Objectives" style="display:none" id="objective-notes-list"></ul>
			<ul class="list-group notes-div Competencies" style="display:none" id="competency-notes-list"></ul>
			<ul class="list-group notes-div Feedback" style="display:none" id="feedback-notes-list"></ul>
			<ul class="list-group notes-div Development-Needs" style="display:none" id="development-needs-notes-list"></ul>
		</div>
	</div>
</div>