<link rel="stylesheet" href="../components/profile/profile.css"/>
<script type="text/javascript" src="../components/profile/profile.js"></script>

<div id="profile-container" class="col-md-4 pull-right profile-right dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
	<div class="col-md-9" >
		<div class="row" >
		 <div class="pull-right" id="userProfileName" ></div>

		</div>
	</div>
	<div class="col-md-3 profile-right" >
		<div class="pull-right" id="userProfilePicture" ></div>
	</div>
</div>

  <ul class="dropdown-menu pull-right" id="profile-dropdown">
    <li><a href="http://portal.corp.sopra/hr/HR_UK_SG/mycareerpath/LE/Pages/Performance-Management-Toolkit.aspx"  target="_blank">Performance Management Toolkit</a></li>
    <li><a href="https://fs7.typeform.com/to/Tl0f0l" target="_blank">Feedback</a></li>
  </ul>