.profile-right {
	padding-right: 0px;
}

.profile-centre{
	transform: translateY(25%);
}

#userProfileName{
	color: #FFF;
	/*Outline in  black*/
	/*text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;*/
}