<link rel="stylesheet" href="./components/development-needs/development-needs.css"/>
<script type="text/javascript" src="./components/development-needs/development-needs.js"></script>

<div class="container">

	<!--Page Header -->
	<div class="row">
		<div class="col-md-6" >
			<div class="col-md-6">
				<h2>My Development</h2>
			</div>
			<div class="col-md-6 vertical-centre">
				<button type="button" class="btn btn-link pull-right" id="add-dev-need">
					<u>Add development need</u>
				</button>
			</div>
		</div>
	</div>
	<!--End of Page Header -->
	
	<!-- Nav Pills header -->
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs nav-justified" id="navTab">
				<li class="active"><a href="objectives.html" data-toggle="tab"> All (3) </a></li>
				<li><a href="#awaiting-progress" data-toggle="tab"> Proposed (0) </a></li>
				<li><a href="#inflight-progress" data-toggle="tab"> Set (3) </a></li>
				<li><a href="#done-progress" data-toggle="tab"> Done </a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Duration</a></li>
						<li><a href="#">Progress</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- End of Nav Pills header -->
	<br>
		
	<!-- My Development Needs half  -->
	<div class='col-sm-12 col-md-6'>
	
		<!-- Development Needs details in an accordion -->
		<div id="dev-needs-list"></div><!-- End of dev-needs-list container -->
        
	</div><!--End of My Development Needs half -->

</div>