<!DOCTYPE HTML>
<html>
	<head>
		<title>Page Not Found</title>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		
		<link rel="stylesheet" href="../vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="./components/error/error.css"/>
	</head>
	<body>
	
		<nav class="navbar navbar-default navbar-fixed-top">
			<div id="primary" class="container-fluid">
				<div class="container">
					<ul class="nav nav-tabs nav-height">
						<li role="presentation" class="active "><a class="nav-height" href="#">MyCareer</a></li>
					</ul>
				</div>
			</div>
		
			<div id="secondary" class="container">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav nav-height">
					</ul>
				</div>
			</div>
		</nav>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
				
	
		<div class="text-center">
			<h3 id="title"></h3><br/>
			<h5 id="description"></h5><br/>
			<div id="mailto"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a class="maillink" href="mailto:soprasteria.csd@soprasteria.com?subject=MyCareer%20Issue&amp;body=Please%20enter%20a%20full%20description%20of%20the%20issue%20below%20and%20attach%20screenshots%20where%20necessary:%0D%0A %0D%0A %0D%0A " target="_top">Send e-mail to Sopra Steria CSD</a></div><br/>
			<a href="myobjectives"><button class="btn btn-link">Refresh MyCareer - Internal</button></a>
			<a href="https://portal.soprasteria.com/dana/home/launch.cgi?url=http%3A%2F%2Fmycareer.uk.corp.sopra%3A8080%2Fportal"><button class="btn btn-link">Refresh MyCareer - External</button></a>
		</div>
		
		
		
		<script src="../vendor/jquery-3.1.1-dist/jquery-3.1.1.min.js"></script>
		<script src="./components/error/error.js"></script>
	</body>
</html>