<link rel="stylesheet" href="./components/objectives/competencies/competencies.css"/>
<script type="text/javascript" src="./components/objectives/competencies/competencies.js"></script>

  <ul class="nav nav-tabs  nav-justified">
    <li class="active"><a data-toggle="tab" href="#competencies-tab">Competencies</a></li>
    <li><a data-toggle="tab" href="#general-notes-tab">General Notes</a></li>
  </ul>

  <div class="tab-content">
  
  	<br>
  
  	<!-- Competencies Section  -->
    <div id="competencies-tab" class="tab-pane fade in active">
      <div class="panel panel-default">
          <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="leadership"></span> Leadership</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="business-awareness"></span> Business Awareness</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="teamwork"></span> Teamwork</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="effective-communication"></span> Effective Communication</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="accountability"></span> Accountability</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="innovation-and-change"></span> Innovation and Change</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="future-orientation"></span> Future Orientation</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-star-empty" id="service-excellence"></span> Service Excellence</li>
          </ul>
      </div>
      
      <button type="button" class="btn btn-link pull-right" id="view-competency"><u>View Competency Framework</u></button>    
        
    </div><!--End of competencies tab -->
    
    
    <!-- General Notes Sections -->
    <div id="general-notes-tab" class="tab-pane fade">
    
		<div class="row">
			<form>
				<div class="form-group col-md-10">
					<label for="general-note-input">Add note*:</label>
					<input type="text" class="note-validate form-control" id="note-text"/>
				</div>
				<div class="col-md-2 vertical-centre">
					<button type="button" class="btn btn-default" id="submit-note" disabled>Submit</button>
				</div>
			</form>
		</div>
	
		<div class="row">
			<div class="form-group col-md-12">
				<ul class="list-group" id="general-notes-list"></ul>
			</div>
		</div>
      
    </div><!-- End of General Notes Section -->
  
  </div><!-- End of tab content Section -->
