<link rel="stylesheet" href="./components/objectives/competencies/competencies.css"/>
<script type="text/javascript" src="./components/objectives/competencies/competencies.js"></script>

  <ul class="nav nav-tabs  nav-justified">
    <li class="active"><a data-toggle="tab" href="#competencies-tab">Competencies</a></li>
    <li><a data-toggle="tab" href="#general-notes-tab">General Notes</a></li>
  </ul>

  <div class="tab-content">
    <div id="competencies-tab" class="tab-pane fade in active">
      <h3>Competencies</h3>
      <p>Competency Stuff Here.</p>
    </div>
    
    <div id="general-notes-tab" class="tab-pane fade">
      <h3>General Notes</h3>
      <p>General Notes Stuff Here.</p>
    </div>
  </div>
