<link rel="stylesheet" href="./components/objectives/competencies/competencies.css"/>
<script type="text/javascript" src="./components/objectives/competencies/competencies.js"></script>

  <ul class="nav nav-tabs  nav-justified">
    <li class="active"><a data-toggle="tab" href="#competencies-tab">Competencies</a></li>
    <li><a data-toggle="tab" href="#general-notes-tab">General Notes</a></li>
  </ul>

  <div class="tab-content">
  
  	<br>
  
  	<!-- Competencies Section  -->
    <div id="competencies-tab" class="tab-pane fade in active">
      <div class="panel panel-default">
         <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                <span class="glyphicon glyphicon-star-empty"></span> Leadership
                <a data-toggle="collapse" href="#collapse1" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Provides clear direction and motivates and inspires others to succeed. Seeks to develop the skills and confidence of others and to recognise and develop talent. Acts as a role model and provides appropriate induction, feedback and coaching to team members. Is willing to confront and challenge poor performance and encourages team members to contribute ideas. Brings the best out of others.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Business Awareness
                 <a data-toggle="collapse" href="#collapse2" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Is able to recognise opportunities to leverage Sopra Steria’s capabilities to provide practical and profitable solutions to clients’ needs. Understands the key commercial issues that affect profitability and growth. Builds relationships with clients and seeks to understand their needs and priorities. Uses this knowledge to provide flexible and reliable solutions to meet and exceed clients’ expectations and deliver value to Sopra Steria. Acts as a company Ambassador.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Teamwork
                 <a data-toggle="collapse" href="#collapse3" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Works cooperatively with colleagues and considers their needs and the impact of decisions on them. Seeks to build relationships across the organisation and to work for the overall good of the business. Able to find common ground and gain trust. Encourages collaboration.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Effective Communication
                 <a data-toggle="collapse" href="#collapse4" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Expresses ideas clearly, persuasively and with impact. Listens to others and convinces them to accept their ideas. Is open and honest with colleagues and clients. Able to write or present clearly and succinctly in a variety of communication settings and audiences. Gets messages across that have the desired effect. Is timely with provision of information.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Accountability
                 <a data-toggle="collapse" href="#collapse5" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Shows drive and commitment to achieve objectives. Is willing to act decisively and strives to find ways of overcoming obstacles. Takes ownership of issues and empowers team members by giving them an appropriate level of responsibility and autonomy. Does not give up and can be counted on to deliver. Is action oriented.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Innovation and Change
                 <a data-toggle="collapse" href="#collapse6" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Shows flexibility and the desire to acquire new knowledge and ideas. Accepts and supports the need for change and looks for new ways of solving problems. Demonstrates the ability to lead and foster change within the organisation. Can act differently depending upon the situation and can handle uncertainty. Is committed to continuous improvement. Comes up with practical steps to implement own or others ideas.</p>
            </div>
          </div>
          
         <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Future Orientation
                 <a data-toggle="collapse" href="#collapse7" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Takes account of a wide range of long-term changes and trends in technology, the market-place and in the business and plans ahead accordingly. Has a clear view of where they want to get to in the medium and longer term. Understands competition. Anticipates consequences and trends.</p>
            </div>
          </div>
          
          <div class="panel-heading panel-heading-sm">
             <div class="panel-title">
                 <span class="glyphicon glyphicon-star-empty"></span> Service Excellence
                 <a data-toggle="collapse" href="#collapse8" class="collapsed"></a>
             </div>        
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                <h5><b>Description</b></h5>
                <p>Builds Sopra Steria’s reputation in the market by setting high standards of service and delivery. Knows what to measure and how to measure it and looks for opportunities for synergies. Is committed to Service Excellence.</p>
            </div>
          </div>
          <button type="button" class="btn btn-link pull-right" id="view-competency">View Competency Framework</button>
      </div><!--End of panel -->     
    </div><!--End of competencies tab -->
    
    
    <!-- General Notes Sections -->
    <div id="general-notes-tab" class="tab-pane fade">
    
		<div class="row">
			<form>
				<div class="form-group col-md-10">
					<label for="general-note-input">Add note*:</label>
					<input type="text" class="note-validate form-control" id="note-text" maxlength="1000"/>
				</div>
				<div class="col-md-2 vertical-centre">
					<button type="button" class="btn btn-default" id="submit-note" disabled>Submit</button>
				</div>
			</form>
		</div>
	
		<div class="row">
			<div class="form-group col-md-12">
				<ul class="list-group" id="general-notes-list"></ul>
			</div>
		</div>
      
    </div><!-- End of General Notes Section -->
  
  </div><!-- End of tab content Section -->
