<script>
	loadStyle("components/myhistory/myhistory");
	loadScript("components/myhistory/myhistory");
</script>

<div class="container">

	<!--Page Header -->
	<div class="row">
		<div class="col-md-7" >
			<div class="col-md-6">
				<h2>MyCareer History</h2>
			</div>
		    <div class="col-md-6 vertical-centre">
		        <div class="btn-group">
		            <select class="selectpicker">
		                <option value="objectives">My Objectives</option>
		                <option value="development-needs">My Development Needs</option>
		                <option value="feedback">My Feedback</option>
		                <option value="notes">My Notes</option>
		            </select>
		        </div>
	        </div>
		</div>
		<div class="col-md-5 vertical-centre">
			<button type="button" class="btn btn-default pull-right" id="notes-open">My Notes</button>
		</div>
	</div>

    <div id="histories"class="row" style="margin-top: 10px; padding-left: 15px; padding-right: 15px;"></div>
	
</div>