<script>
	loadScript("actions/hractions");
	loadStyle("components/myhistory/myhistory");
	loadScript("components/myhistory/myhistory");
</script>

<div class="container">

	<!--Page Header -->
	<div class="row">
		<div class="col-md-7" >
			<div class="col-md-6">
				<h2>MyCareer History</h2>
			</div>
		</div>
		<div class="col-md-5 vertical-centre">
			<button type="button" class="btn btn-default pull-right" id="notes-open">My Notes</button>
		</div>
	</div>

    <div id="histories" class="row" style="margin-top: 10px; padding-left: 15px; padding-right: 15px;">
		<div class="col-md-12" style="padding-right: 0;">
			<div id="reportee-header">
				<ul class="nav nav-tabs nav-justified" id="navTab">
					<li class="active "><a id="obj-history-link" href="#history-objectives-containter" data-toggle="tab"> My Objectives </a></li>
					<li><a id="feed-history-link" href="#history-feedback-containter" data-toggle="tab"> My Feedback </a></li>
					<li><a id="dev-history-link" href="#history-development-needs-containter" data-toggle="tab"> My Development Needs </a></li>
					<li><a id="notes-history-link" href="#history-notes-containter" data-toggle="tab"> My Notes </a></li>
					<li><a id="ratings-history-link" href="#history-ratings-containter" data-toggle="tab"> My Ratings </a></li>
				</ul>
			</div>
		</div>
	 	<div id="history-data-container" class="col-md-12 tab-content" style="padding-right: 0; padding-top: 20px;">
	   		<div id="history-objectives-containter" class="tab-pane fade in active">
				<table id="history-objectives-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Title</th>
			                <th>Description</th>
			                <th>Progress</th>
			                <th>Due Date</th>
			                <th>Created On</th>
			                <th>Proposed By</th>
			                <th>Archived</th>
			            </tr>
			        </thead>
        		</table>
			</div>
	   		<div id="history-feedback-containter" class="tab-pane fade">
	   			<table id="history-feedback-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Provider Email</th>
			                <th>Feedback Description</th>
			                <th>Date</th>
			            </tr>
			        </thead>
        		</table>
        	</div>
	   		<div id="history-development-needs-containter" class="tab-pane fade">
	   			<table id="history-development-needs-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Title</th>
			                <th>Description</th>
			                <th>Progress</th>
			                <th>Due Date</th>
			                <th>Created On</th>
			                <th>Proposed By</th>
			                <th>Category</th>
			                <th>Archived</th>
			            </tr>
			        </thead>
        		</table>
       		</div>
	   		<div id="history-notes-containter" class="tab-pane fade">
	   			<table id="history-notes-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Provider Email</th>
			                <th>Note Description</th>
			                <th>Date</th>
			            </tr>
			        </thead>
        		</table>
       		</div>
	   		<div id="history-ratings-containter" class="tab-pane fade">
	   			<table id="history-ratings-table" class="table table-striped" cellspacing="0" width="100%">
				 	<thead>
			            <tr>
			                <th>Year</th>
			                <th>Self Evaluation</th>
			                <th>Manager Evaluation</th>
			                <th>Score</th>
			            </tr>
			        </thead>
        		</table>
        	</div>
        </div>
	</div>
</div>