<link rel="stylesheet" href="../components/hrdashboard/hrdashboard.css"/>
<script type="text/javascript" src="../components/hrdashboard/hrdashboard.js"></script>

<div class="container">
    
    <!--Page Header -->
    <div class="row">
        <div class="col-md-6">
            <h2>HR Dashboard</h2>
        </div>
        <div class="col-md-6 vertical-centre">
            <button type="button" class="btn btn-default pull-right" disabled id="">Generate Graphs</button>
            <button type="button" class="btn btn-default pull-right" disabled id="">Download .csv</button>
        </div>
    </div>
    <!--End of Page header-->
    <br/>
    
    <!-- Dropdown to select which HR report -->
    <div class="col-md-12">
        <div class="btn-group">
            <select class="selectpicker" title="Please select a report...">
                <option>Overview</option>
                <option>Employees</option>
                <option>Objectives</option>
                <option>Feedback</option>
                <option>Development Needs</option>
            </select>
        </div>
        
        <div class="hr-dashboard"><br/></div>
    </div><!--End of dropdown row -->
    
</div><!--End of Container -->