<link rel="stylesheet" href="../components/myfeedback/myfeedback.css"/>
<script type="text/javascript" src="../components/myfeedback/myfeedback.js"></script>

<!--Containter for full page -->
<div class="container">

<!--Page Header -->
	<div class="row">
           <div class="col-md-6">
		     <div class="col-md-6">
                   <h2>My Feedback</h2>
               </div>      
               <div class="col-md-6 vertical-centre">
            	   <button type="button" class="btn btn-default pull-right" id="request-feedback">Request Feedback</button>
                   <!-- Below code was added for a story that was descoped for live, but still in the backlog -->
                   <!--<ul class="nav nav-tabs nav-justified" style='cursor:pointer'>
                       <li id="general-feeback-list" class="active">
                           <a data-toggle="tab" data-target="#general-feedback-tab, #generalFeeDescription">General</a></li>
                       <li id="requested-feeback-list">
                           <a data-toggle="tab" data-target="#requested-feedback-tab, #requestedFeeDescription">Requested</a></li> 
                   </ul>-->
                   
               </div>
           </div>

		<div class="col-md-6 vertical-centre ">
			<button type="button" class="btn btn-default pull-right" id="notes-open">My Notes</button>
		</div>
	</div>
	<!--End of Page Header -->
    <br/>
    
	<!-- Accordion sort half - added a test one, setting out layout -->
 	<div class="col-md-3">
		<div class="panel-group" id="accordion-Date">
			<div class="panel panel-default">
				<div class="panel-heading remove-padding">
					<div class="panel-title">
						<div class="row">
							<div class="col-md-8">
								<h6><b>Filtered by:</b></h6>
							</div>
							<div class="col-md-4">	
								<h6 class="pull-right btn-link" style='cursor:pointer' onClick='clearAllFilters()'><b>Show All</b></h6>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h6><b><span id="filter-text">No Filters Applied</span></b></h6>
							</div>
						</div>
					</div>
				</div>

				<div id="collapse-filter" class="panel-collapse collapse in">
					<div class="panel-body remove-padding" >
						<div class="row " style="background-color:rgb(245, 245, 245);">
							<div class="col-md-6">
								<h5>Date</h5>
							</div>
							<div class="col-md-6">
								<h6 class="pull-right btn-link" style="cursor:pointer" onClick="clearFilter('date')">Clear Filter</h6>
							</div>
						</div>
						<div class="row">
							<div class='col-sm-12'>
								<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<h6><b>From:</b></h6>
									</div>
								</div>
									<div class='input-group date' id='feedback-start-date-picker'>
										<input type='text' class="form-control" id='feedback-start-date' readonly="readonly" />
										<span class="input-group-addon"> 
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class='col-sm-12'>
								<div class="form-group">
									<h6><b>To:</b></h6>
									<div class='input-group date' id='feedback-end-date-picker'>
										<input type='text' class="form-control" id='feedback-end-date' readonly="readonly" />
										<span class="input-group-addon"> 
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class='col-md-offset-6 col-md-6'>
								<button type="button" class="btn btn-default pull-right" id="submit-date-filter">Submit</button>
							</div>
						</div>
						<br/>
						<div class="row" style="background-color:rgb(245, 245, 245);">
							<div class="col-md-6">
								<h5>Reviewer</h5>
							</div>
							<div class="col-md-6">
								<h6 class="pull-right btn-link" style="cursor:pointer" onClick="clearFilter('reviewer')">Clear Filter</h6>
							</div>
						</div>
						<div class="row">
							<div class="checkbox" id="general-reviewer-list"></div>
						</div>
					</div>
				</div>
			</div>
		</div>					
	</div>

	<!-- List of Feedback -->
	<div id="feedback-scroll-list" class="col-md-3 scrollable-feedback">
        <div class="tab-content">
            <div id="general-feedback-tab" class="tab-pane fade in active"></div>
        </div><!--end of tab content -->
	</div><!--end of col-md-3 -->

	<!-- Section that will show the feedback -->
	<div class="col-md-6">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="generalFeeDescription"></div>
        </div>
	</div>
    
</div><!--end of container -->

<!-- Request Feedback Modal -->
<div id="requestFeedbackModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="close-feedback-request-modal" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Request feedback</h4>
			</div>
			<div class="modal-body">
				<form>
					<input type="hidden" id="modal-type" value="add">
					<input type="hidden" id="request-feedback-id" value="0">
					<div class="form-group" id="to-validate">
						<label for="requesting-to">Email(s)*:</label>
						<input type="text" class="request-feedback-validate form-control" data-role="tagsinput" placeholder="..."  id="requestingTo" maxlength="150" spellcheck="true"/>
					</div>
                                    
					<div class="form-group" id="text-validate">
						<label for="requesting-text" class="control-label">Optional message <span class="max-characters"> (max 1000 characters) </span>: </label>
						<textarea class="form-control" id="requestingText" placeholder="..." maxlength="1000" rows="5" spellcheck="true"></textarea>
                        <button type="button" class="btn btn-link pull-right" id="view-feedback-template" data-target="#emailTemplateModal">view feedback request template</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" id="cancel" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default" id="submit-request-feedback">Submit</button>
			</div>
		</div><!-- End of Modal content-->
	</div>
</div>

<!--Request feedback email template Modal -->
<div id="emailTemplateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email feedback request template</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
          			<div class="col-md-12"><h5>Hi,</h5></div>
          			<div class="col-md-12"><h5><b><span class=full-name></span></b> has requested your feedback. MyCareer is committed to helping its employees to be the best they can be, your feedback is a key part of helping them to know they are doing a great job and also help them to be better.</h5></div>
               		<div class="col-md-12"><h5>Simply reply to this email to provide <span class=full-name></span> with feedback. They supplied the following comment:</h5></div>
          			<div class="col-md-12"><h5> "Optional comments will go here"</h5></div>
          			<div class="col-md-12"><h5>The following headings may help you.</h5></div>
          			<ol>
	          			<li>Context</li>
	          			<li>Time Period</li>
	          			<li>What went well?</li>
	          			<li>What could be improved?</li>
          			</ol>
          			<div class="col-md-12"><h5>You can find more information on the <a href="http://portal.corp.sopra/hr/HR_UK_SG/mycareerpath/Performancemanagement/Pages/default.aspx" target="_blank">Performance Management page on F2F</a>.(External link required)</h5></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>