<link rel="stylesheet" href="../components/myfeedback/myfeedback.css"/>
<script type="text/javascript" src="../components/myfeedback/myfeedback.js"></script>

<!--Containter for full page -->
<div class="container">

<!--Page Header -->
		<div class="row">
			<div class="col-md-6" >
				<div class="col-md-6">
					<h2 >My Feedback</h2>
				</div>
			</div>
			<div class="col-md-6 vertical-centre ">
				<button type="button" class="btn btn-link pull-right" id="notes-open">
						<u>My Notes</u>
				</button>
			</div>
		</div>
		<!--End of Page Header -->
<br/>
	<!-- Accordion sort half - added a test one, setting out layout -->

		 	<div class="col-md-3">
				<div class="panel-group" id="accordion-Date">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne">Date</a>
							</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row">
									<div class='col-sm-12'>
										<div class="form-group">
										<div class="row">
										<div class='col-sm-6'>
											<h5><b>From:</b></h5>
										</div>
										<div class='col-sm-6'>
											<h6 class="pull-right btn-link" style='cursor:pointer' onClick='clearDateFilter()'><b>Clear Filter</b></h6>
										</div>
										</div>
											<div class='input-group date' id='feedback-start-date-picker'>
												<input type='text' class="form-control" id='feedback-start-date' readonly="readonly" />
												<span class="input-group-addon"> 
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class='col-sm-12'>
										<div class="form-group">
										<h5><b>To:</b></h5>
											<div class='input-group date' id='feedback-end-date-picker'>
												<input type='text' class="form-control" id='feedback-end-date' readonly="readonly" />
												<span class="input-group-addon"> 
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class='col-md-offset-6 col-md-6'>
										<button type="button" class="btn btn-default pull-right" id="submit-date-filter">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end of accordion Date-->
				

				
				<div class="panel-group" id="accordion-Reviewer">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									href="#collapseFour">Reviewer</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="panel-body">
								
							</div>
							<!--end of panel body -->
						</div>
						<!--end of collapse panel -->
					</div>
					<!-- end of panel-default-->
				</div>
				<!-- end of accordion Reviewer -->
			</div>
		
			<!--end of col-md-3 -->

			<!-- List of Feedback -->
			<div class="col-md-3">
				<div id="feeList"></div>
			</div>
			<!--end of col-md-3 -->

			<!-- Section that will show the feedback -->
			<div class="col-md-6">
				<div id="feeDescription"></div>
			</div>

	
</div><!--end of container -->









<!--	<div class="panel-group" id="accordion-Linked-Obj">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseTwo">Linked Objectives</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6"></div>
						<!--end of div class col-md-6 -->
				<!--	</div>
					<!--end of row -->
			<!--	</div>
				<!--end of panel body -->
		<!--	</div>
			<!--end of collapse panel -->
		<!--</div>
		<!-- end of panel-default-->
<!--	</div>
	<!-- end of accordion Linked Objectives -->
	
<!--	<div class="panel-group" id="accordion-Linked-Competencies">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseThree">Linked Competencies</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6"></div>
						<!--end of div class col-md-6 -->
				<!--	</div>
					<!--end of row -->
			<!--	</div>
				<!--end of panel body -->
		<!--	</div>
			<!--end of collapse panel -->
	<!--	</div>
		<!-- end of panel-default-->
<!--	</div>
	<!-- end of accordion Linked Competencies -->

 
 
 
 
 
 
 
 
 