.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

.col-md-6:not (:last-child ) {
	border-right: 1px solid #ccc;
}

.nav-tabs.nav-justified{
    margin-bottom: 10px;
    margin-top: 20px;
}