/*.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}*/

.col-md-6:not (:last-child ) {
	border-right: 1px solid #ccc;
}

.nav-tabs.nav-justified{
    margin-bottom: 10px;
    margin-top: 20px;
}

.remove-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}

.reviewer-label{
	
	font-size:12px;
}

.feedback-select{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0px, 0px, 8px rgba(102, 175, 233, 0.6);
}